{erl_first_files, ["src/erlps_transpiler.erl", "src/erlps_parse_transform.erl"]}.
{deps,  [
  {getopt, "1.0.2"}
 ]}.

{escript_incl_extra, [{"erlscripten/priv/support/*", "_build/default/lib/"},
                      {"erlscripten/priv/stdlib/*", "_build/default/lib/"}]}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/erlscripten\" ./erlscripten"}]}.
